@use '../../styles/sass/config/variables' as var;
@use '../../styles/sass/mixins/spacing' as space;
@use '../../styles/sass/config/animation' as anim;
@use '../../styles/sass/mixins/responsive' as res;

header {
  max-width: var.$desktop;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  .content {
    @include space.py(var.$space_10);
    display: flex;
    flex-direction: column;
    gap: var.$space_8;
    @include res.tablet {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include space.px(var.$space_20);
    }
    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: var.$space_5;
      @include res.tablet {
        width: 40%;
        text-align: left;
        align-items: flex-start;
      }
      h1 {
        font-weight: 800;
        @include res.tablet {
          line-height: 1.2;
        }
      }
      p {
        font-family: var.$secondary-font;
        @include res.tablet {
          font-size: larger;
        }
      }
      .goto {
        background-color: var.$secondary-color;
        color: #fff;
        padding: var.$space_2 var.$space_4;
        width: fit-content;
        text-transform: uppercase;
        @include res.tablet {
          min-width: 250px;
          text-align: center;
        }
      }
    }

    .image {
      animation: pulsing 1s ease-in-out infinite;
      border-radius: 50%;
      padding: var.$space_2;
      @include res.tablet {
        width: 50%;
      }
      img {
        max-width: 100%;
        display: block;
      }
    }
  }
  .gotoproducts {
    background-color: var.$primary-color;
    color: #fff;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    svg {
      font-size: 50px;
      animation: swipedown 1s linear infinite;
      @include res.tablet {
        font-size: 70px;
      }
    }
    &:hover {
      color: #fff;
    }
  }
}
