@use '../mixins/index' as mix;
@use '../mixins/responsive' as res;
@use './variables' as var;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  @include mix.font-family;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  body {
    line-height: 2;
    @for $index from 1 to 6 {
      h#{$index} {
        font-size: inherit;
        font-weight: inherit;
      }
    }

    h1 {
      font-size: 35px;
      font-weight: 700;
      line-height: 1.4;
      @include res.tablet {
        font-size: 60px;
        line-height: 1.2;
      }
    }

    h2 {
      font-size: 25px;
      font-weight: 700;
      line-height: 1.2;
      @include res.tablet {
        font-size: 40px;
      }
    }

    .container {
      position: relative;
    }
    main {
      position: relative;
      min-height: 100vh;
      section {
        padding: {
          right: var.$space_8;
          left: var.$space_8;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: inherit;
      transition: var.$transition;
      &:hover {
        color: var.$primary-color;
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
    }
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #9c9b9b;
  border: 1px solid #797979;
}
