@use '../../styles/sass/config/variables' as var;
@use '../../styles/sass/mixins/spacing' as space;
@use '../../styles/sass/mixins/responsive' as res;

section.stats {
  max-width: var.$desktop;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: var.$space_5;
  align-items: baseline;
  @include space.py(var.$space_10);
  @include res.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var.$space_28;
    min-height: 400px;
  }
  .item {
    text-align: center;
    .number {
      color: var.$primary-color;
      font-weight: 700;
      font-size: 25px;
      @include res.tablet {
        font-size: 50px;
      }
    }
    .title {
      font-size: smaller;
      font-weight: 400;
      @include res.tablet {
        font-size: 20px;
      }
    }
  }
}
